[submodule "3thparty/GLFW"]
	path = 3thparty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "3thparty/IMGUI"]
	path = 3thparty/IMGUI
	url = https://github.com/ocornut/imgui
[submodule "3thparty/GLAD"]
	path = 3thparty/GLAD
	url = https://glad.dav1d.de/
[submodule "3thparty/SPDLOG"]
	path = 3thparty/SPDLOG
	url = https://github.com/gabime/spdlog
